$accent: #1B6FB7;

%osw-300{
  font-family: Oswald;
  font-weight: 300;
}
%osw-400{
  font-family: Oswald;
  font-weight: 400;
}
%osw-500{
  font-family: Oswald;
  font-weight: 500;
}
%osw-600{
  font-family: Oswald;
  font-weight: 600;
}
%osw-700{
  font-family: Oswald;
  font-weight: 700;
}
%mul-300{
  font-family: Mulish;
  font-weight: 300;
}
%mul-400{
  font-family: Mulish;
  font-weight: 400;
}
%mul-500{
  font-family: Mulish;
  font-weight: 500;
}
%mul-700{
  font-family: Mulish;
  font-weight: 700;
}
%mul-800{
  font-family: Mulish;
  font-weight: 800;
}
%rob-400{
  font-family: Roboto;
  font-weight: 400;
}